%h1 Block Challenges

%p
  A block is a piece of code that can be executed later.
  Its behaviour is very very similar to a method's.
  You will know when you see a block, because it is always passed to a method,
  and it has either curly braces or `do/end` wrapped around it.
  Like <code>{ this }</code> and like `do this end`.

%h2 Passing/calling a block
